header {
    background-color: $color-primary;

    .container{
            
        @include flex(row, center, space-between);
        height: 8rem;
        padding-top: 1.4rem;
        ul {
            @include flex(row, center, space-between);
            li {
                padding: 0 1rem 0 1rem;
                &:not(:last-child){
                    margin-right: 2.6rem;
                }
                a {
                font-family: 'Josefin Sans', sans-serif;
                font-weight: 700;
                font-size: 2.4rem;
                line-height: 118.5%;
                color: $white;
                }
            }
        }
    }

}
.fundo{
    margin-top: -82px;
    margin-bottom: -460px;
    background-color: $color-primary;
}
