@mixin responsive($ScreenWidth) {
    @media(max-width: $ScreenWidth) {
        @content;
    }
}

@mixin flex($direction, $align, $justify) {
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
}

@mixin btn($height, $bg, $bgHover, $border, $shadow) {
    background-color: $bg;
    color: $bgHover;
    height: $height;
    line-height: $height;
    padding: 0 38px 0 38px;
    font-weight: 600;
    font-size: 2rem;
    line-height: 118.5%;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
    cursor: pointer;
    border: 5px solid $border;
    box-shadow: 0px 40px 20px $shadow;
    border-radius: 12px;
    transition: all .3s;
    &:hover {
        background-color: $bgHover;
        color: $bg;
        border: 5px solid #b63303;
    }
}

@mixin btn-secundary($height, $bg, $bgHover, $border) {
    background-color: $bg;
    color: $bgHover;
    height: $height;
    line-height: $height;
    padding: 0 22px 0 22px;
    font-weight: 600;
    font-size: 2rem;
    line-height: 118.5%;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
    cursor: pointer;
    border: 2px solid $border;
    border-radius: 6px;
    transition: all .3s;
    &:hover {
        border: 2px solid $color-terciary;
    }
}

